body, html {
  background-color: #172030;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #172030;
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
}

.main-content {
  
  display: flex;
  height: 100vh;
  margin: 0;     /* Ensure no margins */
  padding: 0; 
}

.content-area {
  background-color: #172030;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}


.content-area.sidebar-open {
  margin-left: 250px; /* Space for the sidebar */
}

.content-area.sidebar-closed {
  margin-left: 0;
}
