.thumbnail {
  width: 45%;
}

.video-title {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}


.thumbnail-row {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thumbnail-row:hover{
  background-color: rgb(183, 180, 180);
}

.video-grid {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}


@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

